<%
 var item = page;
 var index = false;
 var table = false;
%>
<% if (site.data.experiences){ %>
	<div id="main">
	<% for (exp in site.data.experiences){%>
	<% var experience = site.data.experiences[exp] %>
	<div id="main-<%= experience.id %>" class="<%= item.layout %>" itemscope itemprop="blogPost">
	  	<article itemprop="articleBody"> 
			<header class="article-info clearfix">
			  <h1 itemprop="name">
			      <a href="#main-<%= experience.id %>" title="<%= experience.title %>" itemprop="url"><%= experience.title %></a><%%>
			  </h1>
			  <p class="article-time">
			  	<% if (experience['end-year']){ %>
			  		Entre <time datetime="<%= experience['start-year'] %>" itemprop="datePublished"> <%= experience['start-year'] %></time> & <time datetime="<%= experience['end-year'] %>" itemprop="datePublished"> <%= experience['end-year'] %></time>
			  	<% }else{  %>
			    	<time datetime="<%= experience['start-year'] %>" itemprop="datePublished"> Depuis <%= experience['start-year'] %></time>
			  	<% } %>
			  </p>
			  <h2><%= experience.role %><% if (experience.role2){ %> <br> <%= experience.role2 %> <%}%> </h2>
			  <p><%= experience['main-mission'] %></p>
			</header>
		<div class="article-content">
			<% for (keyMission in experience.missions){ 
				var mission = experience.missions[keyMission]%>
				<h1 id="<%= mission.id%>" class="title-click"> <%= mission.title %></h1>
				<p class="article-time">
			  	<% if (mission['end-year']){ %>
			  		Entre <time datetime="<%= mission['start-year'] %>" itemprop="datePublished"> <%= mission['start-year'] %></time> & <time datetime="<%= mission['end-year'] %>" itemprop="datePublished"> <%= mission['end-year'] %></time>
			  	<% }else{  %>
			    	<time datetime="<%= mission['start-year'] %>" itemprop="datePublished"> Depuis <%= mission['start-year'] %></time>
			  	<% } %>
			  </p>
			  <h3> <%= mission.job %></h3>
			  <p><%= mission['main-mission'] %></p>
			  <div id="detail-<%= mission.id%>" class="detail-hide">
			  <% if (mission.lists){ 
			  		for (keyList in mission.lists){
			  			var list = mission.lists[keyList] 
			  			var label = "Autres infos : "
			  			if (keyList === 'tasks'){
			  				label = "Tâches effectuées"
			  			}else if (keyList === 'technos'){
			  				label = "Technologies abordées"
			  			}else{
			  				label = keyList
			  			} %>
				  		<p><strong> <%= label %>  </strong></p>
				  		<ul>
				  		<% list.forEach(function(listItem){ %>
				  			<li> <%= listItem %></li>
				  		<% });%>
				  		</ul>
				  	<% } 
			    } %>		
			</div>	   
			<% } %>
		</div>
			<!--<%- partial('_partial/post/footer', {item: page, index: false,table: false}) %> -->
		</article>
		<%- partial('_partial/post/pagination', {item: page, index: false,table: false}) %>
	</div>  
	<% } %>
	</div>
<% } %>
<%- item.content %>