<div class="openaside"><a class="navbutton" href="#" title="<%= __('showsidebar') %>"></a></div>
<% if( table&&(item.toc !== false) && theme.toc.aside){ %>
  <div id="toc" class="toc-aside">
  <strong class="toc-title"><%= __('contents') %></strong>
 <% if(item.list_number == false) {%>
 <%- toc(item.content,{list_number:false}) %>
 <% }else{ %>
 <%- toc(item.content) %>
 <% } %>
  </div>
<% } %>
<div id="asidepart">
<div class="closeaside"><a class="closebutton" href="#" title="<%= __('hidesidebar') %>"></a></div>
<aside class="clearfix">
	<% if (site.data.annexes){ 
	for (key in site.data.annexes){
		var annexe = site.data.annexes[key]
		if (annexe.type === 'tag'){ %>
		<div class="tagslist">
			<p class="asidetitle"><%= annexe.title %></p>
			<ul class="clearfix">
				<% annexe.data.forEach(function(keyAnnexe){ %>
					<li><a title="<%= keyAnnexe %>"><%= keyAnnexe %></a></li>			
				<% }); %>
			</ul>
		</div>
		<% }else if (annexe.type === 'list'){ %>
		<div class="categorieslist">
			<p class="asidetitle"><%= annexe.title %></p>
			<ul>
				<% for (keyAnnexe in annexe.data){ 
					var annexeData = annexe.data[keyAnnexe] %>
					<li><a <% if (annexeData.link) { %> href="<%= annexeData.link %>" <% }%> title="<%= annexeData.title %>"><%= annexeData.title %><sup><%= annexeData.date %></sup><% if (annexeData.place){ %><br>&nbsp;
						<%= annexeData.place %><% } %></a></li>
				<% } %>
			</ul>
		</div>
		<% } 
	  } 
	} %>
</aside>
</div>
